  <!---->
  <body>

    <!-- mian-content -->
    <div class="main-banner inner" id="home">
        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1> <a href="/"><span class="fa fa" aria-hidden="true">Shoe Sport</span> 
                        </a>
                    </h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mt-2">
                        <li><a href="/">Home</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle">Categories<span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            <a href="#">Categories<span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul>
                                <%data.cates.forEach(function(cate){%>
                                    <li><a href="/shop/<%=cate.slug%>"><%=cate.name%></a></li>
                                <%})%>
                            </ul>
                        </li>
                        <li><a href="/about">About</a></li>
                        <li class="active"><a href="/blog">Blog</a></li>
                        <li ><a href="/contact">Contact</a></li>
                        <li><a href="/cart">Cart<small>(<%=data.lengthCart%>)</small></a></li>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->

    </div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Blogs</li>
</ol>
<!---->
<!--// mian-content -->
<!-- banner -->
<section class="ab-info-main py-5">
    <div class="container py-lg-3">
        <div class="ab-info-grids">
            <h3 class="tittle text-center mb-lg-5 mb-3">Blog Posts</h3>
            <div id="products" class="row view-group">
                <%data.product.forEach(function(item){%>
                    <div class="item col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image" src="data:<%=item.image.contentType%>;base64,<%=item.image.data%>" alt="" width="350px" height="250px" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    <%= item.name%></h4>
                                <p class="group inner list-group-item-text">
                                    <%=item.description%></p>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="lead">
                                            <%=item.price%> VND</p>
                                    </div>
                                    <div class="col-6 ban-buttons">
                                        <a class="btn btn-course" href="/product/<%=item.slug%>">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%})%>

            </div>
        </div>
    </div>
</section>
<!-- //banner -->