<div class="main-banner inner" id="home">
    <!-- header -->
    <header class="header">
        <div class="container-fluid px-lg-5">
            <!-- nav -->
            <nav class="py-4">
                <div id="logo">
                    <h1> <a href="index.html"><span class="fa fa-bold" aria-hidden="true"></span>ootie</a></h1>
                </div>

                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop" />
                <ul class="menu mt-2">
                    <li><a href="/">Home</a></li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-2" class="toggle">Categories<span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                        <a href="#">Categories<span class="fa fa-angle-down" aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-2" />
                        <ul>
                            <%data.cates.forEach(function(cate){%>
                                <li><a href="/shop/<%=cate.slug%>"><%=cate.name%></a></li>
                            <%})%>
                        </ul>
                    </li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->

</div>
<!---->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Shop Single</li>
</ol>
<!---->
<!-- banner -->
<section class="ab-info-main py-md-5 py-4">
    <div class="container py-md-3">
        <!-- top Products -->
        <div class="row">
            <!-- product left -->
            <div class="side-bar col-lg-4">

                <div class="search-bar w3layouts-newsletter">
                    <h3 class="sear-head">Search Here..</h3>
                    <form action="#" method="post" class="d-flex">
                        <input type="search" placeholder="Product name..." name="search" class="form-control" required="">
                        <button class="btn1"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>
                </div>
                <!-- discounts -->
                <div class="left-side mt-4">
                    <h3 class="sear-head">Categories </h3>
                    <ul class="w3layouts-box-list">
                        <li>
                            <%data.cates.forEach(function(cate){%>
                                <li>
                                    <a href="/shop/<%=cate.slug%>" style="color:black">
                                        <span>
                                            <%=cate.name%>
                                        </span>
                                    </a>
                                </li>
                            <%})%>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- //product left -->
            <!-- product right -->
            <div class="left-ads-display col-lg-8">
                <div class="row">
                    <div class="desc1-left col-md-6">
                        <img src="data:<%=data.detailProduct.image.contentType%>;base64,<%=data.detailProduct.image.data%>" alt="" width="350px" height="400px">
                    </div>
                    <div class="desc1-right col-md-6 pl-lg-4">
                        <h3><%=data.detailProduct.name%></h3>
                        <h5> <%=data.detailProduct.price%> VND</h5>
                        <div class="addToCard mb-4"> 
                            <a href="">Add to card</a>
                        </div>
                        <div class="share-desc">
                            <div class="share">
                                <h4>Share Product :</h4>
                                <ul class="w3layouts_social_list list-unstyled">
                                    <li>
                                        <a href="#" class="w3pvt_facebook">
                                            <span class="fa fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#" class="w3pvt_twitter">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="w3pvt_dribble">
                                            <span class="fa fa-dribbble"></span>
                                        </a>
                                    </li>
                                    <li class="ml-2">
                                        <a href="#" class="w3pvt_google">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <h3>Description</h3><br>
                    <span><%= data.detailProduct.description%></span>
                </div>

                <h3 class="shop-sing">Featured Products</h3>
                <div class="row m-0">
                    <%data.popularProduct.forEach(function(popular){%>
                        <a href="/product/<%=popular.slug%>">
                            <div class="col-md-4 product-men">
                                <div class="product-shoe-info shoe text-center">
                                    <div class="men-thumb-item">
                                        <img src="data:<%=popular.image.contentType%>;base64,<%=popular.image.data%>" alt="" width="181px" height="181px">
                                    </div>
                                    <div class="item-info-product">
                                        <h4>
                                            <a href="/product/<%=popular.slug%>"><%=popular.name%></a>
                                        </h4>
        
                                        <div class="product_price">
                                            <div class="grid-price">
                                                <span class="money"><%=popular.price%> VND</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
</section>